{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/base/font.css' %}">
<link rel="stylesheet" href="{% static 'css/authentication/login.css' %}">
{% endblock %}

{% block content %}
<section class="login_container zen_maru_gothic_light">
    <div class="card">
        <div class="card_header">
            <h2 class="text_center zen-maru-gothic-black">Login</h2>
        </div>
        <div class="card_body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="login_btn">ログイン</button>
            </form>
            <!-- <div class="mt_3 text_center">
                <p>アカウントをお持ちでない方は<a href="{% url 'dashboard:signup' %}">こちら</a></p>
                <p>パスワードをお忘れの方は<a href="{% url 'dashboard:password_reset' %}">こちら</a></p>
            </div> -->
        </div>
    </div>
</section>
{% endblock %}