{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<section class="home_container zen-maru-gothic-light">
    <div class="home_container_inner">
        <h1 class="home_container_h1">
            <span>まちだ　はやと</span><span class="last_spacing">の</span>
            <span class="h1_margin">ポートフォリオ</span>
        </h1>
        <div class="role_container">
            <div class="role_line"></div>
            <div class="role_container_inner">
                <p class="role">Web Design</p>
                <p class="role">Web Application</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
