/* entire   ////////////////////////////////////////////////////////////////////////////////////// */
*, html, body, main{
    margin: 0;
    padding: 0;
    max-width: 100vw;
}

a{
    text-decoration: none;
    color: #3F3F3F;
}

ul, li{
    list-style: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: -100;
}

header{
    width: 200px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header::after{
    content: "";
    width: 1px;
    height: 98%;
    position: absolute;
    right: 0;
    background-color: #c2c2c2;
}

header nav{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.logout_btn{
    width: 80%;
}

.logout_btn button{
    width: 100%;
    height: 25px;
    margin-top: 35px;
    background-color: #e0e0e0;
    font-size: 14px;
    letter-spacing: 5px;
    border-radius: 2px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.1s ease;
}

.logout_btn button:hover{
    background-color: #F1F1F1;
    box-shadow: 
    -4px -2px 8px 0 #cdcdcd33,
    -2px 4px 10px 0 #cdcdcde6;
}

.logout_btn button:active{
    background-color: #d3d3d3;
    box-shadow: 
        inset 2px 2px 4px 0 rgba(0, 0, 0, 0.2),
        inset -2px -2px 4px 0 rgba(255, 255, 255, 0.1),
        inset 2px -2px 4px 0 rgba(0, 0, 0, 0.15),
        inset -2px 2px 5px 0 rgba(0, 0, 0, 0.1);
}

main{
    margin-left: 200px;
    padding: 20px;
}

footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 2%;
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0px;
    font-size: 12px;
    letter-spacing: 5px;
}

footer p{
    position: relative;
    right: 60px;
    text-align: center;
}