{% extends 'admin_base.html' %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/about/about.css' %}">
{% endblock %}

{% block content %}
    <!-- <h1>About Dashboard</h1> -->
<section class="dashboard about_section">
    <form class="current_about">
        {% csrf_token %}
        <h2 class="about_skills">できること</h2>
        {% for main_category in about_data.main_categories %}
            <div class="main_category about_editable">
                <h3>{{ main_category.name }}</h3>
                {{ form.as_p }}
            </div>
            <!-- {% for sub_category in main_category.sub_categories.all %}
                <div class="sub_category about_editable">
                    <h4>{{ sub_category.name }}</h4>
                </div>
                {% for skill in sub_category.skills.all %}
                    <div class="skill about_editable">
                        <p>{{ skill.name }}</p>
                    </div>
                {% endfor %}
            {% endfor %} -->
        {% endfor %}
    </form>
    <div class="about_skills_container">
        <form action="" method="post" class="about_category_form">
            {% csrf_token %}
            {{ form.non_field_errors }}
            
            <div class="field" id="">
                <label for="{{ form.name.id_for_label }}">メインカテゴリー</label>
                {{ form.as_p }}
            </div>
            <button type="submit">保存</button>
        </form>
    </div>
</section>
<script src="{% static 'js/about/about.js' %}"></script>
{% endblock %}