{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
{% endblock %}
{% block title %}{{ blogpost.title }} - {{ block.super }}{% endblock %}

{% block content %}
<section class="article-detail">
    <div class="article_scroller">
        <div class="article_content">
            <h1>{{ blogpost.title }}</h1>
            <div class="articles">
                <article>
                    <p class="meta">
                        # {{ blogpost.category.name }} |
                        投稿日: {{ blogpost.published_date|date:"Y/m/d" }}
                    </p>
                    <div class="content">
                        {{ blogpost.content|linebreaks }}
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="table_of_contents">
        <h2>もくじ</h2>
        <ul>
            <li>
                <a href="#">Contents 1</a>
                <ul class="sub_contents">
                    <li>
                        <a href="#">Contents</a>
                    </li>
                    <li>
                        <a href="#">Contents</a>
                    </li>
                    <li>
                        <a href="#">Contents</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Contents 2</a>
                <ul class="sub_contents">
                    <li>
                        <a href="#">Contents</a>
                    </li>
                    <li>
                        <a href="#">Contents</a>
                    </li>
                    <li>
                        <a href="#">Contents</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
        <!-- <div class="categories">
            <p>カテゴリー</p>
            <ul>
            {% for category in categories %}
                <li>
                    {{ category.name }}
            {% endfor %}
        </ul>
    </div> -->

</section>
{% endblock %}
