{% extends 'base.html' %}
{% load static %}
{% block head %}  {# baseテンプレートにheadブロックを追加する必要があります #}
<link rel="stylesheet" href="{% static 'css/post_list.css' %}">
{% endblock %}
{% block title %}記事一覧 - {{ block.super }}{% endblock %}

{% block content %}
<div class="article-list">
    <div class="categories">
        <p>カテゴリー</p>
        <ul>
            {% for category in categories %}
                <li>
                    {{ category.name }}
            {% endfor %}
        </ul>
    </div>
    <h1>記事一覧</h1>

    <div class="articles">
        <h3>あなたの投稿</h3>
        {% for post in posts %}
        <article>
            <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            <p class="meta">
                カテゴリー: {{ post.category.name }} |
                投稿日: {{ post.created_at|date:"Y/m/d" }}
            </p>
            <div class="content-preview">
                {{ post.content|truncatewords:30 }}
            </div>
        </article>
        {% empty %}
        <p>記事がありません。</p>
        {% endfor %}
    </div>
</div>
{% endblock %}