{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/blog/blog.css' %}">
{% endblock %}
<!-- {% block title %}記事一覧{% endblock %} -->

{% block content %}
<!-- {% include 'header.html' %} -->
<section class="blog_container zen-maru-gothic-light">
    <h1 class="page_title zen-kaku-gothic-antique-black">Blog</h1>
    <div class="search_container">
        <form method="GET" action="{% url 'blog:search' %}" class="search-form">
          <input type="text" name="q" class="search-input" placeholder="検索キーワードを入力">
          <!-- <button type="submit" class="search-button">
            <i class="fas fa-search"></i>
          </button> -->
        </form>
        <span class="search_word">
            <p>検索ワード: {{ query }}</p>
        </span>
    </div>
    <div class="article_container_search">
        <h2 class="zen-maru-gothic-regular">記事一覧</h2>
        <div class="article_list">
            {% for post in results %}
            <a href="{{ post.get_absolute_url }}" class="blog_article">
                <article>
                    <h3>{{ post.title }}</h3>
                    <p class="meta">
                        # {{ post.category.name }} |
                        投稿日: {{ post.created_at|date:"Y/m/d" }}
                    </p>
                    <div class="content-preview">
                        {{ post.content|truncatewords:30|truncatechars:30 }}
                    </div>
                </article>
            </a>
            {% empty %}
            <p class="no-article">検索結果がありません。</p>
            {% endfor %}
        </div>
    </div>
</section>
<script src="{% static 'js/blog.js' %}"></script>
<script src="{% static 'js/image-position.js' %}"></script>
<script src="{% static 'js/article-height.js' %}"></script>
{% endblock %}
