/* entire   ////////////////////////////////////////////////////////////////////////////////////// */
*, html, body{
    margin: 0;
    padding: 0;
    max-width: 100vw;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: -100;
}

body::-webkit-scrollbar{
    display: none;
}

.outborder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: fixed;
    top: 10px;
    left: 200px;
    right: 20px;
    bottom: 20px;
    border-radius: 15px;
    
    background-color: transparent;
    overflow: scroll;

    background-color: #f5f5f5;
    /* background-image:  */
    /* 最前面の細い十字マーク */
    /* linear-gradient(to right, transparent 6px, #f0f0f0 6px, #f0f0f0 7px, transparent 7px), */
    /* linear-gradient(to bottom, transparent 6px, #f0f0f0 6px, #f0f0f0 7px, transparent 7px), */
    /* 15個ごとの大きい十字マーク */
    /* linear-gradient(to right, transparent 104px, #EDEDED 104px, #EDEDED 106px, transparent 106px), */
    /* linear-gradient(to bottom, transparent 104px, #EDEDED 104px, #EDEDED 106px, transparent 106px); */
    /* background-size:  */
    /* 11px 11px,  小さい十字マークのグリッド */
    /* 11px 11px, */
    /* 165px 165px, 大きい十字マークのグリッド (14px × 15) */
    /* 165px 165px; */
    background-position: center;
    box-shadow: inset 1px 1px 25px 0px rgba(0, 0, 0, 0.25);
}

.outborder::-webkit-scrollbar{
    display: none;
}

a{
    text-decoration: none;
    color: #3F3F3F;
}

ul, li{
    list-style: none;
}

/* font ////////////////////////////////////////////////////////////////////////////////////// */
@font-face {
    font-family: "Zen Maru Gothic";
    src: url("../../static/fonts/ZenMaruGothic-Regular.ttf");
}

.zen-maru-gothic-light {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 300;
    font-style: normal;
}

/* main ////////////////////////////////////////////////////////////////////////////////////// */
main{
    display: flex;
    flex: 1;
    overflow: scroll;

    /* position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    width: 87%;

    border-radius: 10px; */


    /* width: 84.66%;
    height: 100%; */
}

main::-webkit-scrollbar{
    display: none;
}

/* footer ////////////////////////////////////////////////////////////////////////////////////// */
footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 20px;
    position: fixed;
    bottom: 0;
    left: 10px;
    right: 20px;

    font-size: 12px;
    letter-spacing: 5px;
}

footer p{
    position: relative;
    right: 50px;
    text-align: center;
}