/* entire   ////////////////////////////////////////////////////////////////////////////////////// */
*, html, body{
    margin: 0;
    padding: 0;
    max-width: 100vw;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: -100;
}

body::-webkit-scrollbar{
    display: none;
}

.outborder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 1%;
    left: 200px;
    right: 20px;
    bottom: 2%;
    border-radius: 15px;
    overflow: scroll;
    background-color: #f5f5f5;
    background-position: center;
    box-shadow: inset 1px 1px 25px 0px rgba(0, 0, 0, 0.25);
}

.outborder::-webkit-scrollbar{
    display: none;
}

a{
    text-decoration: none;
    color: #3F3F3F;
}

ul, li{
    list-style: none;
}

/* main ////////////////////////////////////////////////////////////////////////////////////// */
main{
    min-height: 97vh;
    overflow: scroll;
}

main::-webkit-scrollbar{
    display: none;
}

/* footer ////////////////////////////////////////////////////////////////////////////////////// */
footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 2%;
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0px;
    font-size: 12px;
    letter-spacing: 5px;
}

footer p{
    position: relative;
    right: 60px;
    text-align: center;
}

/* other page ////////////////////////////////////////////////////////////////////////////////////// */
.page_title{
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    font-weight: 900;
    font-size: 90px;
    color: #E7E7E7;
    letter-spacing: 30px;
}
