/* フォントファイルの読み込み */
@font-face {
    font-family: "Zen Maru Gothic";
    src: url("../../fonts/Zen_Maru_Gothic/ZenMaruGothic-Light.ttf");
}

@font-face {
    font-family: "Zen Kaku Gothic Antique"; 
    src: url("../../fonts/Zen_Kaku_Gothic_Antique/ZenKakuGothicAntique-Black.ttf");
}

/* フォントファミリーの定義 */
:root {
    --font-zen-maru: "Zen Maru Gothic", serif;
    --font-zen-kaku: "Zen Kaku Gothic Antique", sans-serif;
}

/* Zen Maru Gothic */
.zen-maru-gothic-light {
    font-family: var(--font-zen-maru);
    font-weight: 200;
    font-style: normal;
}

.zen-maru-gothic-regular {
    font-family: var(--font-zen-maru);
    font-weight: 300;
    font-style: normal;
}

.zen-maru-gothic-black {
    font-family: var(--font-zen-maru);
    font-weight: 900;
    font-style: normal;
}

/* Zen Kaku Gothic Antique */
.zen-kaku-gothic-antique-regular {
    font-family: var(--font-zen-kaku);
    font-weight: 300;
    font-style: normal;
}

.zen-kaku-gothic-antique-medium {
    font-family: var(--font-zen-kaku);
    font-weight: 500;
    font-style: normal;
}

.zen-kaku-gothic-antique-black {
    font-family: var(--font-zen-kaku);
    font-weight: 900;
    font-style: normal;
}