<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Blog{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'dashboard:dashboard' %}">Home</a>
            <a href="{% url 'dashboard:blog_management' %}">Blog</a>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 My Blog</p>
    </footer>

    <!-- 基本的なJavaScriptの読み込み -->
    <script src="{% static 'myapp/js/main.js' %}"></script>
    
    <!-- カスタムJavaScriptのためのブロック -->
    {% block extra_js %}
    {% endblock %}
</body>
</html>