<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machida Hayato Dashboard - {% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/admin_base.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'dashboard:dashboard' %}">Dashboard</a>
            <a href="{% url 'dashboard:about' %}">about</a>
            <a href="{% url 'dashboard:blog' %}">blog</a>
            <a href="{% url 'dashboard:gallery' %}">gallery</a>
        </nav>
        <form method="post" class="logout_btn">
            {% csrf_token %}
            <button type="submit" name="logout" onclick="return confirm('ログアウトしてもよろしいですか？')">ログアウト</button>
        </form>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 My Blog</p>
    </footer>

    <script src="{% static 'myapp/js/main.js' %}"></script>
    
    <!-- カスタムJavaScriptのためのブロック -->
    {% block extra_js %}
    {% endblock %}
</body>
</html>